body{
    margin: 0;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.menu-wrapper{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('file:///C:/Users/Admin/Desktop/se-page/assets/menue.jpg');
    background-blend-mode: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4em;
    font-size: 1rem;
    line-height: 1.4;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    padding-right: 7.5%;
    padding-left: 7.5%;
    padding-top:1.5%
}

.menu-buttons {
    flex-grow: 1;
    padding-left: 5%;
    width: fit-content;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: row;
}

.menu-buttons div{
    margin-left: 3%;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 2em;
}

.menu-buttons a{
    text-decoration: none;
    color: #fff;
}

.menu-buttons .apply{
    background-color: #0d0;
    border-radius: 5px;
    padding: 3px 20px;
    font-size: .9rem;
    font-weight: bolder;
}

#logo{
    width: 80px;
    height: 80px;
}

.menu-logo{
    justify-content: flex-start;
}

.title h1{
    font-size: calc((3.5 - 1) * 1.2vw + 1rem);
    display: block;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.17;
    margin: 2rem 0;
    color: #fff;
}

.title p{
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
    color: #fff;
}

.button{
    font-size: .9rem;
    border-radius: 0.4rem;
    font-weight: 700;
    font-style: normal;
    text-transform: capitalize;
    
}
.button a{
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    line-height: normal;
    padding: 0.8rem 1.336rem;
    color: #fff;
    background-color: #18ea19;
    border-color: #18ea19;
    font-weight: 700;
    font-style: normal;
    text-transform: capitalize;
    line-height: 1.2em;
    letter-spacing: 0em;
    border-radius: 6px;
}
.menu-bottom{
    max-width: 50%;
    display: inline-block;
    padding-top: 15%;   
    display: flex;
    flex-direction: column;
    padding-right: 7.5%;
    padding-left: 7.5%;
    padding-bottom: 10%;
    justify-content: flex-start;
}
.section3-content{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}
.section3-title{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}
.section3-title h2{
    white-space:pre-wrap;
    color: #000;
    margin: 2rem 0;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.3em;
    font-size: 2rem;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: calc((3 - 1) * 1.2vw + 1rem);
}
.section3-title strong{
    font-weight: bold;
}
.section3-title blockquote{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    color: #000;
}
.section3-title blockquote p{
    font-size: 1.2rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.4em;
    color: #000;
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 1rem 0;
}
.section3-title blockquote p a{
    font-size: calc((1.3 - 1) * 1.2vw + 1rem);
    color: #18ea19
}
.section3-img{
    width: 50%
}
.section3-img img{
    width: 100%;
    height: 100%;
}
.section3-context{
    width: 50%;
}
.section4{
    background-color: #0d0;
    margin-bottom: 5%;
    padding-bottom: 5%;
}
.section4-content{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}
.section4-title h2{
    color: #fff;
    margin: 2rem 0;
    font-size: calc((3 - 1) * 1.2vw + 1rem);
    line-height: 1.196;
    font-weight:normal;
}
.section4-title strong{
    font-weight: bold;
}
.program-pics{
    display: flex;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
}
.program-pic1 img{
    width: 100%;
    height: 100%;
}
.program-pic1{
    width: 45%;
}
.program-pic2 img{
    width: 100%;
    height: 100%;
}
.program-pic2{
    width: 45%;
}
.section5-content{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 7%;
}
.section5-title{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}
.section5-title h2{
    white-space:pre-wrap;
    color: #000;
    margin: 2rem 0;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.3em;
    font-size: 2rem;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: calc((3 - 1) * 1.2vw + 1rem);
}
.section5-title strong{
    font-weight: bold;
}
.section5-title blockquote{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    color: #000;
}
.section5-title blockquote p{
    font-size: 1.2rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.4em;
    color: #000;
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 1rem 0;
}
.section5-title blockquote p a{
    font-size: calc((1.3 - 1) * 1.2vw + 1rem);
    color: #18ea19
}
.section5-img{
    width: 50%
}
.section5-img img{
    width: 100%;
    height: 100%;
}
.section5-context{
    width: 50%;
}
.section6-content{
    margin-left: 7%;
    margin-right: 7%;
}
.section6-content h4{
    margin-left: 17%;
    margin-right: 17%;
    white-space:pre-wrap;
    font-weight: normal;
    font-size: calc((2 - 1) * 1.2vw + 1rem);
}
.section6-content p{
    margin-top: -2%;
    font-size: calc((1.3 - 1) * 1.2vw + 1rem);
}
.partner-pic{
    width: 100%;
}
.partner-pic img{
    width: 100%;
}
.section7{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
.section7-content{
     width: 50%;
}
.section8{
    background-color: lightgray;
}
.section8-content{
    padding-top: 3%;
}
.section8-title{
    margin-bottom: 3%;
}
.section8-title strong{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: calc((2.5 - 1) * 1.2vw + 1rem);
} 
.section8-first{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.section8-first div{
    margin-bottom: 25px;
    height: 80;
    width: 320;
}
.section8-first img{
    height: 100%;
    width: 100%;
}
.section8-second{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.section8-second div{
    height: 80;
    width: 320;
}
.section8-second img{
    height: 100%;
    width: 100%;
}
.section9-content{
    margin-top: 3%;
    padding-bottom: 5%;
}
.section9-title strong{

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: calc((2.5 - 1) * 1.2vw + 1rem);
} 
.section9-img{
    padding-left: 5%;
    padding-right: 5%;
}
.section9-img img{
    height: 100%;
    width: 100%;
}
.section10-content{
    padding-top: 1.5%;
}
.section10-title{
    margin-bottom: 3%;
}
.section10-title strong{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: calc((2.5 - 1) * 1.2vw + 1rem);
} 
.section10-img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.section10-img div{
    margin-bottom: 25px;
    height: 135;
    width: 370;
}
.section10-img img{
    height: 100%;
    width: 100%;
}
.seperation{
    justify-content: center;
}
.seperation hr{
    width: 85%;
}
