.menue-wrapper{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4em;
    font-size: 1rem;
    line-height: 1.4;
}
.menue-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    padding-right: 10%;
    padding-left: 10%;
}
.menue-buttons {
    flex-grow: 1;
    padding-left: 5%;
    width: fit-content;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: row;
}

.menue-buttons div{
    margin-left: 3%;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 2em;
}
.menue-buttons a{
    text-decoration: none;
}

.menue-buttons .apply{
    background-color: #0d0;
    border-radius: 5px;
    padding: 3px 20px;
    font-size: .9rem;
    font-weight: bolder;
}

#logo{
    width: 80px;
    height: 80px;
}

.menue-logo{
    justify-content: flex-start;
}
.title h1{
    font-size: calc((3.5 - 1) * 1.2vw + 1rem);
    display: block;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.17;
    margin: 2rem 0;
    color: #fff;
}
.title p{
    font-size: calc((1.6 - 1) * 1.2vw + 1rem);
    color: #fff;
}

.button{
    background-color: #0d0;
    padding: 3px 20px;
    font-size: .9rem;
    font-weight: bolder;
    color: #fff;
    border-color: #18ea19;
    border-radius: 0.4rem;
    font-weight: 700;
    font-style: normal;
    text-transform: capitalize;
}
